/* CSS Stylesheet For Calculator */

html {
    font-family: Segoe UI;
}

/* Webpage Title */
.web-title {
    text-align: center;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: dodgerblue;
    color: yellow;
    text-shadow: 2px 2px grey;
}

/* Welcome & Engage Text */
.welcome {
    font-size: 17px;
}

.engage {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

/* Nav Button */
.button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.item {
    display: flex;
    text-decoration: none;
    background-color: blue;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    padding: 15px;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

/* Form & Input Box */
.form-box {
    border: 1px black solid;
    box-shadow: 7px 7px 7px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 7px 7px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 7px 1px rgba(0,0,0,0.75);
    padding: 10px;
}

.sec-title > h2 {
    text-align: center;
    background-color:deepskyblue;
    color: yellow;
    text-shadow: 2px 2px grey;
    height: 70px;
    font-size: 2em;
    margin-top: 0%;
}